#detail-page {

#GroupName{
  text-align: center;
  font-size: 3.5em;
  text-decoration: underline;
  margin-bottom: 1em;
}

#package{
  margin: 0 auto;
}

.detailed{
  font-size: 2em;
}


}//end #detail-page

#comment-area {
  min-height: 5em;
  min-width: 50em;
  margin: 0 auto;
}

.comment-list{
  margin-top: 2em;


}
