body {
  background-image: url("/images/lotrt-bg.png");
  max-width: 100%;

  .container-fluid{
    max-width: 70%;
    background-image: url("/images/ricepaper.png");
  }

  main {
    .goldlogo{
      margin: 2em;
      width: 8em;
      height: 8em;
    }
  }
}
