body {
  background-image: url("/images/lotrt-bg.png");
  max-width: 100%;
  font-family: Garamond, serif;
  font-size: 14px;
  color: #472F17;





  .container-fluid{
    max-width: 80%;
    background-image: url("/images/ricepaper.png");
  }

  main {

.goldlogo{
      width: 8em;
      height: 8em;
      clear: both;
    }
    ul{
    clear: both;
    }

    a {
      cursor: pointer;
      color: inherit;

      &:hover {
      color: inherit;

    }
  }

  .csearch {
    border-radius: 1em;
  }

  ::-webkit-input-placeholder {
   color: #472F17;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: #472F17;
   text-align: center;

}

::-moz-placeholder {  /* Firefox 19+ */
   color: #472F17;
   text-align: center;

}

:-ms-input-placeholder {
   color: #472F17;
   text-align: center;

}
    }
  } //end
