body {
  background-image: url("/images/lotrt-bg.png");
  max-width: 100%;
  font-family: Garamond, serif;
  font-size: 14px;
  color: #472F17;

  .container-fluid{
    max-width: 70%;
    background-image: url("/images/ricepaper.png");
  }

  main {
    .goldlogo{
      margin: 2em;
      width: 8em;
      height: 8em;
      position: absolute;
    }

    .login{

      margin-left: 48em;
      clear: both;
      #Log1 li{
        float: left;
        margin: 1em;
        list-style: none;
        font-size: .90em;

      }
    }
    .nvbr {

      ul{
      margin: 3em 0 0 10em;
      clear: both;

}

     li{
       list-style: none;
       font-size: .90em;

    }

    #base1 li{
      float: left;
      margin: 2em;

  }
  .search {
    margin-left: 1em;
  }

    }
}
}
