#game-list {


h2 {
  color: inherit;
  text-align: center;
  margin-bottom: 1em;

}
  a {
    color: inherit;
  }

  .game-table {
    margin: 0 auto;
    position: relative;
    // text-align: center;
    font-size: 1.5em;



  &:hover {

    font-weight: bold;
    text-decoration: underline;

    }
  }

#sword-center{

  text-align: center;


}


}// end #id

footer {


#pages {
  margin-top: 10em;
  margin-left: 23em;
 }
}
