#logmain1 {
  clear: both;
  max-width: 45%;
  margin: 0;
  float: left;


.form-login {
  border-radius: 1em;
  box-sizing: border-box;
  }




}//end logmain1
#lcor {
  max-width: 10%;
  float: left;
  margin-left: 10%;
  margin-top: 10%;
}

#lcfb {
  margin: 2em;

}
