
<main id="detail-page">
  <form name="GroupMain">
    <div id="GroupName" class="detailed">
{{detail.game.groupName}}
    </div>
    <div id="package">
    <div class=" col-xs-6 col-md-4">
      <ul>
        <li>
          <label> Players Needed / Total</label>
        <p class="detailed">  {{detail.game.players}} </p>
        <li>
          <label> Date of Game</label>
        <p class="detailed">{{detail.game.date | date: 'mediumDate'}}</p>
          <li>
            <label>Time of Game</label>
          <p class="detailed">{{detail.game.time}}</p>
          </li>
          <li>
            <label> Location of Game</label>
          <p class="detailed">{{detail.game.local}}</p>
          </li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-4">
      <ul>
        <label> Game Type </label>
        <li>
          <p class="detailed">{{detail.game.type}}
        </li>
        <li>
          <label> What Game </label>
      <p class="detailed"> {{detail.game.game}}
        </li>
        <label>State</label>
        <li>
        <p class="detailed">{{detail.game.state}}</p>

        </li>
        <label>City</label>
        <li>
          <p class="detailed">{{detail.game.city}}</p>
        </li>
        <label>Age Group</label>
        <li>
        <p class="detailed">{{detail.game.age}}</p>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-4">
      <label for="bio">Group Info</label>
      <p class="detailed">{{detail.game.description}}</p>
    </div>
  </div>
    <div>
      <button ng-show="authData.uid !== detail.game.uid" ng-click="detail.deleteGame(gameID)" type="delete">DELETE</button>
      </div>
      </main>
      <!-- <p> You must Login to Leave a comment! </p> -->
    <div ng-controller="CommentCtrl as tell" class="col-md-12">
<form name="commentForm" ng-submit="tell.submitComments(commentForm)">
    <div class=" col-md-12 detail comments">
      <textarea id="comment-area" class="comment-area" maxlength="300" placeholder="Let them know you want to join the group!" ng-model="tell.comments.comment"></textarea>
</div>
<input ng-click="tell.submitComments()" type="submit" Submit>
</form>
<div class="comment-list" ng-repeat="(key, comment) in tell.commentList | orderBy: '-timestamp'">
  <ul>
    <li> {{comment.name}}</li>
    <li> {{comment.comment}}</li>
      <li><button ng-show="authData.uid !== comment.id" ng-click="tell.deleteComment(key)" type="delete">X</button></li>
  </ul>
</div>
</div>
