<main>
  <form class="form-inline">
    <div class="form-group">
        <label >Search</label>
        <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>
</form>
  <p> Choose your game wisely </p>

  <div ng-repeat="group in list.newGroup">
  <a ui-sref="detailPage({gamedetailID: newGroup.$id})">
  <table >

    <thead >
      <tr>
        <th>{{group.groupName}} | {{group.date | date: 'mediumDate'}} | {{group.state}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{group.local}} | {{group.game}}</td>
      </tr>
    </tbody>
  </table>
</a>
</div>
</main>
