<main>
  <form class="form-inline">
    <div class="form-group">
        <label >Search</label>
        <input type="text" ng-model="search" class="form-control" placeholder="Search">
    </div>
</form>
  <p> Choose your game wisely </p>

  <div dir-paginate="list in list.groupList | filter: search | itemsPerPage: 20">
  <a ui-sref="#">
  <table >

    <thead >
      <tr>
        <th>{{list.groupName}} | {{list.date | date: 'mediumDate'}} | {{list.state}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{list.local}} | {{list.game}}</td>
      </tr>
    </tbody>
  </table>
</a>
</div>

<dir-pagination-controls></dir-pagination-controls>
</main>
