<!-- startgroup.html -->

<main ui-view>
  <form name="groupForm" ng-submit="party.saveGroup(groupForm)">
    <div>
      <label> Name Your Party</label>
      <input type="text" class="form-control color" id="GN" placeholder="Group Name" ng-model="party.group.groupName" required>
    </div>
    <div class="col-xs-6 col-md-4">
      <ul>
        <li>
          <label> Date of Game</label>
          <input type="date" class="form-control color" id="DoE" placeholder="Date of Game" ng-model="party.group.date" required>
        </li>
      </ul> <!--delete this after testing -->
    </div> <!--delete this after testing -->
        <!-- <li>
          <label>Time of Game</label>
          <input type="time" class="form-control color" id="ToE" placeholder="Time of Game" ng-model="party.time">
        </li>
        <li>
          <label> Location of Game</label>
          <input type="text" class="form-control color" id="loc" placeholder="Location" ng-model="local" >
        </li>
      </ul>
        </div>
        <div class="col-xs-6 col-md-4">
          <ul>
            <label> Game Type </label>

        <li>
          <select class="color">
            <option value="" disabled="disabled" selected="selected">Select</option>
            <option value="#">RPG </option>
            <option value="#">CARD</option>
            <option value="#">BOARD</option>
            <option value="#">LARP</option>
          </select>
        </li>
        <li>
          <label> What Game </label>
          <input type="text" class="form-control color" id="LeGame" placeholder="THE GAME TO PLAY">
        </li>
        <label>State</label>

          <li>
            <select class="color">
              <option value="" disabled="disabled" selected="selected">State</option>
              <option> FL </option>
            </select>
          </li>
          <label>Age Group</label>
          <li>

            <select class="color">
              <option value="" disabled="disabled" selected="selected">Select</option>
              <option value="#">Any</option>
              <option value="#">13+</option>
              <option value="#">17+</option>
              <option value="#">21+</option>
            </select>
          </li>
          <label> Game System </label>

          <li>
            <select class="color">
              <option value="" disabled="disabled" selected="selected">Select</option>
              <option value="#">d20</option>
              <option value="#">d6</option>
              <option value="#">Story</option>
              <option value="#">SEIGE</option>
              <option value="#">SAGA</option>
            </select>
          </li>
        </ul>
      </div>
            <div class="col-xs-6 col-md-4">
      <fieldset class="form-group color">
        <label for="bio">Tell Us About Your Group</label>
        <textarea class="form-control" id="tug" maxlength="500"></textarea>
      </fieldset>
            </div> -->
      <div class="col-xs-6 col-sm-12 col-md-offset-5">
        <input  class="btn btn-default" type="submit" value="submit" required>
      </div>
  </form>
  <p>{{group.date}}</P>
</main>
