<!-- startgroup.html -->


  <main ui-view>
    <form  ng-submit="party.addGroup()">
      <input type="date" class="form-control" placeholder="Date" ng-model="party.date">
      <input type="text" class="form-control" placeholder="Group Name" ng-model="party.groupName">
      <!-- <input type="text" class="form-Control" placeholder="Location" ng-model="local">
      <select>
        <option value="" disabled="disabled" selected="selected">CHOOSE A GAME TYPE</option>
        <option value="#">RPG - ROLE PLAYING GAME </option>
        <option value="#">CARD</option>
        <option value="#">BOARD</option>
      </select>
      <input type="text" class="form-control" placeholder="THE GAME TO PLAY">
      <input type="text" class="form-control" placeholder="TELL US ABOUT YOUR GROUP"> -->
      <a value="Add" ui-sref="submit">SUBMIT</a>
    </form>
  </main>
