<!-- home.html -->
<div ui-view>
  <main class="container-fluid">
    <p class="main Font"><big>W</big>elcome wary adventurer to <big id="lotrt"> Lords of the Round Table</big>!
      <br>
      <br>
    You have successfully went through the portal and found us, you are a brave one - or - very unlucky... . Please start a tab <small> (login/create account)</small>
    order a round, and maybe check for some rumors <small> (find group)</small> or roll initiative and start your own, if you're brave enough.
     There are many in need of adventurers.</P>


  </main>
</div>
